In [1]:
import pywhatkit
import pandas as pd
import time
import os

In [2]:
df=pd.read_csv("AI,Robotics & Research AI - Sheet1.csv")
df

,Unnamed: 0,Email,Name,Reg No,Year,Branch,Subsystem,Unnamed: 7,Unnamed: 8,Phone Number,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,8/24/2024 20:20:35,prashastaajain@gmail.com,Prashastaa Jain,240911110.0,1st,IT,Ai,Interest,NaN,8777686593,prashastaajain@gmail.com,prashastaa.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,918777686593,NaN,NaN,NaN,NaN
1,8/25/2024 0:44:03,kaustubhasaxena@gmail.com,Kaustubha Saxena,240911308.0,1st,Information Technology,Ai,I am eager to join to contribute my skills and...,I have a decent coding knowledge of Java and J...,9555331875,kaustubhasaxena2005@gmail.com,kaustubha.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,919555331875,NaN,Present,AI,Yes
2,8/25/2024 19:23:37,vijay.b1512@gmail.com,Vijay B,240953312.0,1st,CCE,Ai,Learn AI and coding and apply it in fun aspects,Not really,6363295058,vijay.b1512@gmail.con,vijay.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,916363295058,NaN,NaN,NaN,NaN
3,8/25/2024 22:13:56,onaschaturvedi@gmail.com,Onas Chaturvedi,240905254.0,1st,CSE,Ai,I have had a keen interest in learning about a...,NaN,7819011071,onaschaturvedi@gmail.com,onas.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,917819011071,NaN,NaN,NaN,NaN
4,8/27/2024 23:48:39,aayushinamdarai@gmail.com,Aayush Inamdar,240968108.0,1st,Data Science & Engineering,Ai,I love exploring upcoming technologies and kee...,I know the basics of C++. I have done a crash...,9022919178,aayushinamdarai@gmail.com,inamdar.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,919022919178,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,8/27/2024 16:02:29,cvnameesh28@gmail.com,C V Nameesh,240906486.0,1st,Electrical and Electrnoics Engineering (EEE),"Robotics, Management",I want to join RUGVED because Iâ€™m passionate a...,Management:\nI previously owned and managed In...,9916606517,cvnameesh28@gmail.com,nameesh.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,919916606517,NaN,NaN,NaN,NaN
108,NaN,ADD ONS,Riya,NaN,1st,cse,NaN,NaN,NaN,9731558990,riya.aparanji@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,Danish Garg,240968296.0,1st,Data Science,"AI , AI Research , Robotics",NaN,NaN,7018688251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,Shravan s.Rao,NaN,1st,NaN,"AI , AI Research , Robotics",NaN,NaN,6361325741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,Aasti k shrivastava,NaN,1st,NaN,"AI , AI Research , Robotics",NaN,NaN,8423387876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['Phone Number'].isna().sum()

2

In [4]:
df[df['Phone Number'].isna()]

,Unnamed: 0,Email,Name,Reg No,Year,Branch,Subsystem,Unnamed: 7,Unnamed: 8,Phone Number,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
18,NaN,kh.agarwala05@gmail.com,khushi agarwal,240968264.0,1st,data science and engineering,"Ai, robotics",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,9/1/2024 10:01:24,diyamoogi101@gmail.com,Diya M,240905052.0,1st,cse core,"Ai, Robotics",The seniors wete very welcoming and enthusiast...,i have a little coding experience in python as...,NaN,diyamoogi101@gmail.com,diya2.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,#REF!,NaN,NaN,NaN,NaN

In [5]:
df[df['Phone Number'].isna()]

,Unnamed: 0,Email,Name,Reg No,Year,Branch,Subsystem,Unnamed: 7,Unnamed: 8,Phone Number,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
18,NaN,kh.agarwala05@gmail.com,khushi agarwal,240968264.0,1st,data science and engineering,"Ai, robotics",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,9/1/2024 10:01:24,diyamoogi101@gmail.com,Diya M,240905052.0,1st,cse core,"Ai, Robotics",The seniors wete very welcoming and enthusiast...,i have a little coding experience in python as...,NaN,diyamoogi101@gmail.com,diya2.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,#REF!,NaN,NaN,NaN,NaN

In [6]:
df[df['Phone Number'].isna()]

,Unnamed: 0,Email,Name,Reg No,Year,Branch,Subsystem,Unnamed: 7,Unnamed: 8,Phone Number,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
18,NaN,kh.agarwala05@gmail.com,khushi agarwal,240968264.0,1st,data science and engineering,"Ai, robotics",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,9/1/2024 10:01:24,diyamoogi101@gmail.com,Diya M,240905052.0,1st,cse core,"Ai, Robotics",The seniors wete very welcoming and enthusiast...,i have a little coding experience in python as...,NaN,diyamoogi101@gmail.com,diya2.mitmpl2024@learner.manipal.edu,NaN,Send Message,NaN,#REF!,NaN,NaN,NaN,NaN

In [7]:
num_list= df["Phone Number"]
num_list = list(num_list)
len(num_list)

112

In [8]:
num_list

['8777686593',
 '9555331875',
 '6363295058',
 '7819011071',
 '9022919178',
 '9000171719',
 '7209757999',
 '7207197262',
 '9622369101',
 '8882641962',
 '9363181007',
 '9902905189',
 '9108824424',
 '8130275225',
 '7673984373',
 '7982655712',
 '9310755800',
 '9121096174',
 nan,
 '9372931793',
 '7337203128',
 '8088032149',
 '9530284364',
 '9559042068',
 '9565766659',
 '7796821777',
 '8885044396',
 '7995679104',
 '8866023100',
 '9810822303',
 '9667065562',
 '9599664788',
 '8104851824',
 '6364278608',
 '9311704488',
 '9082571448',
 '7702199625',
 '9390493180',
 '8052407029',
 '9798065497',
 '9201413554',
 '9654537443',
 '9373263362',
 '8700337363',
 '8106914024',
 '7003365991',
 '8299768896',
 '9560804056',
 '86180 32122 ',
 '8851204896',
 '9300982002',
 '9606061337',
 '9836356553',
 '7021775833',
 '9026046928',
 nan,
 '8105328550',
 '9810790403',
 '9999789633',
 '7428667645',
 '6306453524',
 '8855097612',
 '8928337646',
 '7016507449',
 '9958307450',
 '9019855310',
 '9963304429',
 '9073200240',
 '8985645880',
 '9281451269',
 '7973031814',
 '8904261410',
 '8791795303',
 '9004685171',
 '9215565615',
 '9353285792',
 '8555879346',
 '9515741406',
 '7989496712',
 '9655175759',
 '8591403247',
 '7075766106',
 '9672997447',
 '9910305669',
 '6284677477',
 '9082296993',
 '9391499822',
 '8850181728',
 '6291684872',
 '9159041414',
 '8897798634',
 '9028120587',
 '9869339847',
 '9825246962',
 '9347733510',
 '6280012817',
 '9908252012',
 '9711773090',
 '8147013369',
 '9833547518',
 '8105815859',
 '9881060177',
 '8079611495',
 '9307101097',
 '9063514027',
 '9372694322',
 '9004678904',
 '9916606517',
 '9731558990',
 '7018688251',
 '6361325741',
 '8423387876']

In [9]:
for i in num_list[0:100]:  #how many numbers you have
    string="Congratulations! You have been selected for the Rugved task phase. Please use the link to join the task phase group.  https://chat.whatsapp.com/K14hdLw3HIh2OP0uysFfZc"
    phone = "+91"+i
    pywhatkit.sendwhatmsg_instantly(phone,string)
    time.sleep(2)

KeyboardInterrupt: